body {
    color: white;
    background: black;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cell {
    margin: 10px 10px 10px 10px;
    border: 1px solid white;
}

.header {
    padding: 60px;
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}

.name {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

label {
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

span {
    font-family: 'Maven Pro' , sans-serif;
    font-size: 25px;
}